{% load static %}
<! DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title> Weather App </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Za pomocą aplikacji pogodowej jesteś wstanie sprawdzać
        aktualne warunki pogodowe w wybranych przez siebie miastach"/>
        <meta name="ZDPYTpol45 grupa 3" />
        <title>Weather Portal</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>
    {% block page_header %}
<body>
        <section>
                        <!-- Navbar -->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
              <!-- Container wrapper -->
              <div class="container-fluid justify-content-center">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="{% url 'weather_in_user_city' %}">Weather Portal</a>

                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}">Change Password</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
              </div>
            </nav>
            <!-- Navbar -->
        </section>


        <div class="bg">
            {% endblock %}
            {% block content %}

            {% endblock %}

            {% block section_one %}

            {% endblock %}
        </div>
    <!-- Footer-->
            <footer class="py-3 bg-dark">
                <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Weather Portal 2022 - ZDPYTpol45 grupa 3</p></div>
            </footer>
</body>
</html>
