{% extends 'weatherapp/base_weather.html' %}
{% load static %}

{% block content %}
<div class="user_information" >
    <div>
    <h2 class="user_hello">Hello, {{ user.username|default:'Guest' }} !</h2>
    </div>
    <div class="user_button">
        {% if user.is_authenticated %}
            <a class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout</a>
            <a class="btn btn-danger" href="{% url 'password_change' %}" role="button">Change Password</a>
        {% else %}
            <a class="btn btn-danger" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-danger" href="{% url 'register' %}" role="button">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block section_one %}
<body>
    <section class="section">
        <div class="form_with_notification">
            <form method="POST">
                {% csrf_token %}
                <div class="city_form_without_notification">
                    <div class="get_from_add_city" id="myInput">
                        {{ form.name }}
                    </div>
                    <input type="submit" value="Add City">
                </div>
                {% if message_for_user %}
                    <div class="notification_for_user">{{ message_for_user }}</div>
                {% endif %}
            </form>
        </div>
    </section>
    <section class="section">
        <div class="weather_city_info">
            {% for weather_in_city in cities_for_weather_data %}
            <div class="box">
                <article class="weather_media">
                    <div class="media_icon">
                        <figure class="weather_icon">
                            <img src="http://openweathermap.org/img/w/{{ weather_in_city.icon }}.png" alt="Image which show type of weather">
                        </figure>
                    </div>
                    <div class="media_value">
                        <p>
                            <span class="city_name"> {{ weather_in_city.city }} </span>
                            <br> <span class="cty_temperature"> Temp: {{ weather_in_city.temperature }}° C </span>
                            <br> <span class="cty_wind"> Wind: {{ weather_in_city.wind }} m/s </span>
                            <br> <span class="cty_description">{{ weather_in_city.description}} </span>
                        </p>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="media_delete_button">
                            <a href="{% url 'delete_user_city' weather_in_city.city %}">
                                <button class="delete_button"></button>
                            </a>
                        </div>
                    {% endif %}
                </article>
            </div>
            {% endfor %}
            {% if user.is_authenticated %}
            {% else %}
                <div>
                    Log in, increase the possibilities of the application
                    <br> Check weather for more city than one and save Your cities
                </div>
            {% endif %}
        </div>
    </section>
</body>
{% endblock %}
