<!DOCTYPE html>
<html lang="en">


<body>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="City Name">
                        </div>
                        <div class="control">
                            <button class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather_in_city.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ weather_in_city.city }}</span>
                                    <br>
                                    <span class="subtitle"> Temp: {{ weather_in_city.temperature }}° C</span>
                                    <br> Wind: {{ weather_in_city.wind }} m/s
                                    <br> {{ weather_in_city.description}}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>