.page_header {
  position: relative;
  text-align: center;
  color: white;
}

.header_image {
  width: 100%;
  z-index: 0;
  height: 150px;
}

.text_in_header_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  font-weight: 700;
}

.login {
  color: black;

}
body {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body{
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
}


.weather_city_info {
    margin-left: auto;
    margin-right: auto;
    width: 24em
}

.box {
  background-color: white;
  border: 2px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

.weather_media {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.media_delete_button {
  margin-left: 15%;
}

.delete_button:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}

.city_name {
  font-size: 24px;
}

* { box-sizing: border-box; }

.city_form_without_notification {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification_for_user {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.user_information{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}


.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

